<ion-view title="Company List">
    <ion-content has-header="true" has-tabs="true">

        <ion-list>

            <ion-item ng-repeat="company in companies" type="item-text-wrap" href="#/tab/companies/{{company.id}}">
                <h3>{{company.name}}</h3>
                <p>{{company.city}}, {{company.state}}</p>
                <p>Age {{ company.age }}</p>
                <a href="mailto:{{ company.email }}">Email</a>
                <a href="tel:+1{{ company.phone }}">Call</a>
                
            </ion-item>
      
        </ion-list>

    </ion-content>
</ion-view>
