<!--
  This template loads for the 'tab.companies' state (app.js)
-->
<ion-view title="Developers">
  <ion-content has-header="true" has-tabs="true">
    <div class="list list-inset">
      
      <ion-item ng-repeat="company in companies" type="item-text-wrap" >
          <!--<img ng-src="media/{{ company.screenshot }}">-->
          <ul>
              <li>{{ company.name }}</li>
              <li>{{ company.city }}, {{ company.state }}</li>
              <li>{{ company.description }}</li>
              <button class="button button-success"><a href="mailto:{{ company.email }}">Email</a></button>
              <button class="button button-danger"><a href="{{ developer.github }}"></a></button>
              <img ng-src="media/{{ company.cover }}" width="200px" height="200px">
          </ul>
      </ion-item>
    
    </div>
  </ion-content>
</ion-view>
