<ion-view title="Developer List">
    <ion-content has-header="true" has-tabs="true">

        <ion-list>

            <ion-item ng-repeat="developer in developers" type="item-text-wrap" href="#/tab/developer/{{developer.id}}">
                <h3>{{developer.name}}</h3>
                <p>{{developer.city}}, {{developer.state}}</p>
                <p>Age {{ developer.age }}</p>
                <a href="mailto:{{ developer.email }}">Email</a>
                <a href="tel:+1{{ developer.phone }}">Call</a>
                <a href="{{ developer.github }}"><i class="fa fa-github"></i> Github</a>
            </ion-item>

        </ion-list>

    </ion-content>
</ion-view>
