<!--
  This template loads for the 'tab.developers' state (app.js)
-->
<ion-view title="Developers">
  <ion-content has-header="true" has-tabs="true">
    <div class="list list-inset">
      
      <ion-item ng-repeat="developer in developers" type="item-text-wrap" >
          <!--<img ng-src="media/{{ developer.screenshot }}">-->
          <ul>
              <li>{{ developer.name }}</li>
              <li>{{ developer.city }}, {{ developer.state }}</li>
              <li>{{ developer.description }}</li>
              
              <button class="button button-success"><a href="mailto:{{ developer.email }}">Email</a></button>
              <button class="button button-danger"><a href="{{ developer.github }}"></a></button>
              <!--<img ng-src="{{ developer.cover }}">-->
         

              <ion-item ng-repeat="project in developer.projects"  type="item-text-wrap" >
                  <li>{{ project.project_name }}</li
                  <img ng-src="{{ project.project_screenshot }}">
                  <li>{{ project.description }}</li>
                  <li>{{ project.company }}</li>
                  <li>{{ project.created }}</li>
                  <li>{{ project.language }}</li>
                  <li>{{ project.language }}</li>
              </ion-item>
          </ul>
      </ion-item>
      
   
    </div>
  </ion-content>
</ion-view>
