<ion-view title="Developer List">
    <ion-content has-header="true" has-tabs="true">

        <ion-list>

            <ion-item ng-repeat="developer in developers" type="item-text-wrap" href="#/tab/developer/{{developer.id}}">
				
				<div class="list card">
					<div class="item item-avatar">
    					<img src="{{ developer.screenshot }}">
    						<h2>{{ developer.name }} </h2>
    						<p>{{ developer.city }}, {{ developer.state }}</p>
  					</div>

  					<div class="item item-body">
    					<img class="full-image" src="img/uberbg.jpg">
    					<p>{{ developer.description }} </p>
    					<p>
      						<a href="#" class="subdued">1 Like</a>
      						<a href="#" class="subdued">5 Comments</a>
    					</p>
  					</div>

                <h2>{{developer.name}}</h2>
                <h3><i class="icon ion-ios7-location"></i>{{developer.city}}, {{developer.state}}</h3>
                <p>Age {{ developer.age }}</p>
                <img ng-src="img/uberbg.jpg" height="100px" width="100%">
                <img ng-src="{{ developer.screenshot }}" height="100px" width="100%">
				<!--<img src="{{ developer.screenshot }}" height="100px" width="100%">-->
                <!--<p>Completed: {{ project.completed }}</p>-->
				
				<a class="item item-icon-left" href="{{ developer.github }}">
    				<i class="icon ion-social-github"></i> 
    				<h4>{{ developer.github }} Github</h4>
  				</a>


                <a class="item item-icon-left" href="mailto:{{ developer.email }}">
    				<i class="icon ion-ios7-email"></i> 
    				Send mail
  				</a>

  				<a class="item item-icon-left" href="tel:+1{{ developer.phone }}">
    				<i class="icon ion-ios7-telephone-outline"></i>
    				Call 
  				</a>

  				<a class="item item-icon-left" href="#" >
    				<i class="icon ion-chatbubble-working"></i>
    				Message
  				</a>

  				
  				<a class="item item-icon-left" href="#">
    				<i class="icon ion-person-stalker"></i>
    				Friends
    				<span class="badge badge-assertive">91</span>
  				</a>


                <ion-item ng-repeat="project in developer.projects" type="item-text-wrap" href="#/tab/developer/{{developer.id}}">
                    
                            <h3>Project Name: {{ project.project_name }}</h3>
                            <p>Date Created: {{ project.created }}</p>
                            <p>Company: {{ project.company }}</p>
                            <p>Language: {{ project.language }}</p>

                            <h1>Description</h1>
                            <p>{{ project.description }}</p>

                            <h1>Accepted</h1>
                            <p>{{ project.accepted_project }}</p>

                            <img src="../../media/images/developer_screenshots/{{ project.project_screenshot }}">
                            <p>Completed: {{ project.completed }}</p>

                 <ion-item>


            </ion-item>

        </ion-list>

    </ion-content>
</ion-view>
