   <!-- INPUT:DEVELOPER NAME -->
      <!-- <label class="item item-input">
        <span class="input-label">Developer Name</span>
        <input type="text">
      </label> -->

      <!-- INPUT:PROJECT NAME -->
      <!-- <label class="item item-input">
        <span class="input-label">Project Name</span>
        <input type="text">
      </label> -->
      
      <!-- INPUT:CONTACT PHONE -->
      <!-- <label class="item item-input">
        <span class="input-label">Contact Phone</span>
        <input type="number">
      </label> -->

      <!-- INPUT:CONTACT EMAIL -->
      <!-- <label class="item item-input">
        <span class="input-label">Contact Email</span>
        <input type="email">
      </label>
       -->
      <!-- TOGGLE:PROJECT DEADLINE --><!-- 
      <ion-toggle>Project Deadline</ion-toggle>
      <button class="button button-assertive">Add Project</button> -->

         <!-- INPUT:DEVELOPER NAME -->
      <!-- <label class="item item-input">
        <span class="input-label">Developer Name</span>
        <input type="text">
      </label> -->

      <!-- INPUT:PROJECT NAME -->
      <!-- <label class="item item-input">
        <span class="input-label">Project Name</span>
        <input type="text">
      </label> -->
      
      <!-- INPUT:CONTACT PHONE -->
      <!-- <label class="item item-input">
        <span class="input-label">Contact Phone</span>
        <input type="number">
      </label> -->

      <!-- INPUT:CONTACT EMAIL -->
      <!-- <label class="item item-input">
        <span class="input-label">Contact Email</span>
        <input type="email">
      </label>
       -->
      <!-- TOGGLE:PROJECT DEADLINE --><!-- 
      <ion-toggle>Project Deadline</ion-toggle>
      <button class="button button-assertive">Add Project</button> -->ex

      <!--<a class="item item-icon-left" href="#">
            <i class="icon ion-mic-a"></i>
            Record album
            <span class="item-note">
                Grammy
            </span>
          </a>-->