<ion-view title="project.project_name">
  	
  	<ion-content has-header="true" padding="true">
  	    <h1>{{ project.developer }}</h1>

  		<p>{{ project.created }}</p>
    	<p>{{ project.description }}</p>
    	<p>{{ project.company_project }}</p>
    	<p>{{ project.project_screenshot }}</p>
    	<p>{{ project.description }}</p>
    	<p>{{ project.completed }}</p>
    	<p>{{ developer.user }}</p>

    	<p><a class="button button-small icon ion-arrow-left-b" href="#/tab/projects"> All Projects</a></p>
  	</ion-content>

</ion-view>
