<ion-view title="project.title">
  	
  	<ion-content has-header="true" padding="true">
  	    
  	    <p><a class="button button-small icon ion-arrow-left-b" href="#/tab/projects"> All Projects</a></p>

  	    <ion-list>
            <li><h1>{{ project.developer }}</h1></li>
  			<li><p>{{ project.created }}</p></li>
    		<li><p>{{ project.description }}</p></li>
    		<li><p>{{ project.company_project }}</p></li>
    		<li><p>{{ project.project_screenshot }}</p></li>
    		<li><p>{{ project.description }}</p></li>
    		<li><p>{{ project.completed }}</p></li>
        </ion-list>
  	   
  	</ion-content>

</ion-view>
