<ion-view title="rocketlaunchit">
  	
  	<ion-content has-header="true" padding="true">
  	    
  	    <a class="button button-small icon ion-arrow-left-b" href="#/tab/projects"> All Projects</a>

  	    <ion-list>
            <li>{{ project.developer }}</li>
  			<li>{{ project.created }}</li>
    		<li>{{ project.description }}</li>
    		<li>{{ project.company_project }}</li>
    		<li>{{ project.project_screenshot }}</li>
    		<li>{{ project.description }}</li>
    		<li>{{ project.completed }}</li>
        </ion-list>
  	   
  	</ion-content>

</ion-view>
