<ion-tabs tabs-style="tabs-icon-top" tabs-type="tabs-default">


    <!-- Developers Tab -->
    <ion-tab title="Projects" icon="icon ion-social-github" href="#/tab/projects">
        <ion-nav-view name="projects-tab"></ion-nav-view>
    </ion-tab>


    <!-- Companies Tab -->
    <ion-tab title="Companies" icon="icon ion-social-linkedin" href="#/tab/companies">
        <ion-nav-view name="companies-tab"></ion-nav-view>
    </ion-tab>


    <!-- Developers Tab -->
    <ion-tab title="Developers" icon="icon ion-laptop" href="#/tab/developers">
        <ion-nav-view name="developers-tab"></ion-nav-view>
    </ion-tab>

    <!-- Chat Tab -->
    <ion-tab title="Chat" icon="icon ion-chatbubble href="#/tab/chat">
        <ion-nav-view name="chat-tab"></ion-nav-view>
    </ion-tab>

</ion-tabs>
